@{
    ViewBag.Title = "Home Page";
}



<center><img src="~/Images/Batman.jpg" alt="Batman Hero"/></center>


    <div class="col-md-4">
        <h2>Superheroes</h2>
        <p>Welcome to Superheroes.</p>
        <p><a class="btn btn-default"  @Html.ActionLink("Enter Superheroes", "Index", "Superheroes")> &raquo;</a></p>
    </div>
</div>